<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZPea6i4U6xXWkMJJcIR6YpENzgx1PgtA</string>
	<key>GCM_SENDER_ID</key>
	<string>767142293644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mancmiller.PetWalking</string>
	<key>PROJECT_ID</key>
	<string>petapppetproject</string>
	<key>STORAGE_BUCKET</key>
	<string>petapppetproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767142293644:ios:2806b752f75e4999f48ba9</string>
</dict>
</plist>